{% extends "modals/modal.html" %}

{% block modalcontent %}
<form id="changeldappwform" autocomplete="new-password" data-id="{{member_id}}">
    {% csrf_token %}
    <div class="row">
    <div class="col-md-12 form-group">
      <label for="password">Lösenord</label>
      <input class="form-control" id="ldap_password" name="password" type="password" autocomplete="new-password" required />
    </div>
    </div>
    <div class="row">
    <div class="col-md-12">
    <div class="form-group has-feedback">
      <label class="control-label" for="confirm_password">Repetera lösenord</label>
      <input class="form-control" id="confirm_password" type="password" autocomplete="new-password" required/>
      <span id="validate_icon" class="glyphicon form-control-feedback"></span>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-12 form-group">
    <button type="submit" class="btn btn-success">Skicka</button>
    </div>
    </div>
</form>
{% endblock %}
