{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "favicon.ico" %}">

    <title>teknologr.io</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "assets/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/bootstrap-select.min.css" %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static "assets/css/ie10-viewport-bug-workaround.css" %}" rel="stylesheet">
    <link href="{% static "assets/css/jquery-editable-select.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">teknologr.io</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
            <li><a href="/api/">API</a></li>
            <li><a href="https://wiki.teknologforeningen.fi/itwiki/index.php/Medlemsregister" target="_blank">Info</a></li>
            <li><a href="/logout/">Logga ut</a></li>
            </ul>
        </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
        <div class="col-md-4 col-lg-3 sidebar">
            {% block side %}
            {% include "side.html" %}
            {% endblock %}
        </div>
        <!-- Modal box must be outside of sidebar because of sidebar position:fixed style -->
        {% include "modals/new.html" with modalname="newModal" title="Lägg till "|add:side.sname newForm=side.newForm active=side.active only %}
        <div id='main' class="col-md-8 col-md-offset-4 col-lg-9 col-lg-offset-3 main">
            {% block main %}
            {% endblock %}
        </div>
        </div>
    </div>

    {% block scripts %}
    <!-- Always include block.super in this block in templates to avoid removing previous scripts-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "assets/js/vendor/jquery.min.js" %}"></script>
    <script src="{% static "assets/js/bootstrap.min.js" %}"></script>
    <script src="{% static "assets/js/bootstrap-select.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "assets/js/ie10-viewport-bug-workaround.js" %}"></script>
    <script src="{% static "assets/js/jquery-editable-select.min.js" %}"></script>
    <script src="{% static "js/ajax_api.js" %}"></script>
    <script src="{% static "js/base.js" %}"></script>
    {% endblock %}


</body>
</html>
