{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>teknologr.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            
        </div>

        <div class="row row-content">
            <div class="col-sm-12 content-wrapper">
                
            </div>
        </div>

        <div class="row row-footer">
            <div class="col-sm-12 footer-bar">
                <p>teknologr.io</p>
            </div>
        </div>
    </div>
</body>
</html>

