<form id="editgroupform" autocomplete="off">
  {% csrf_token %}
  <div class="row form-group">
    <div class="col-md-5">
      <label for="{{form.begin_date.id_for_label}}">Från</label>
      {{ form.begin_date }}
    </div>
    <div class="col-md-5">
      <label for="{{form.end_date.id_for_label}}">Till</label>
      {{ form.end_date }}
    </div>
    <div class="col-md-2">
      <br>
      <button type="submit" class="btn btn-success">Spara</button>
    </div>
  </div>
  {{ form.grouptype.as_hidden }}
</form>