{% extends "base.html" %}
{% load staticfiles %}
{% block main %}
<div class="container-fluid">

<h1 class="page-header">
<ul class="list-inline">
  <li>
    {{ grouptype.name }}
  </li>
  <li>
    <button class="btn btn-success" data-toggle="modal" data-target="#groupTypeModal">Ändra</button>
  </li>
  <li>
    <button id="deleteGroupType" class="btn btn-danger" data-id="{{ grouptype.id }}">Radera</button>
  </li>
</ul>
</h1>

<div class="modal fade" id="groupTypeModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Editera grupp</h4>
      </div>
      <div class="modal-body container-fluid">
        <form id="grouptypeform" autocomplete="off" method="post" data-id="{{ grouptype.id }}" class="form-inline">
        {% csrf_token %}
        <div class="form-group">
          <label for="{{addgroupform.name.id_for_label}}">Namn</label>
          {{ groupTypeForm.name }}
          <button type="submit" class="btn btn-success">Spara</button>
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
      </div>
    </div>
  </div>
</div>

</div>

<div class="container-fluid">
<div class="row">
  <div class="col-md-6">
    <ul class="list-inline">
      <li><h3>Undergrupper</h3></li>
      <li>
        <button class="btn btn-success" data-toggle="modal" data-target="#addGroupModal">Lägg till ny</button>
      </li>
    </ul>

    <div class="modal fade" id="addGroupModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Lägg till grupp</h4>
          </div>
          <div class="modal-body container-fluid">
            <form id="addgroupform" autocomplete="off" method="post">
              {% csrf_token %}
              <div class="row form-group">
              <div class="col-md-12">
                <label for="{{addgroupform.name.id_for_label}}">Namn</label>
                {{ addgroupform.name }}
              </div>
              </div>
              <div class="row form-group">
              <div class="col-md-5">
                <label for="{{addgroupform.begin_date.id_for_label}}">Från</label>
                {{ addgroupform.begin_date }}
              </div>
              <div class="col-md-5">
                <label for="{{addgroupform.end_date.id_for_label}}">Till</label>
                {{ addgroupform.end_date }}
              </div>
              {{ addgroupform.grouptype.as_hidden }}
              <div class="col-md-2">
                <br>
                <button type="submit" class="btn btn-success">Spara</button>
              </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
          </div>
        </div>
      </div>
    </div>

    <ul>
      {% for subgroup in groups %}
      <li>
        <span class="glyphicon glyphicon-remove text-danger removeGroup" role="button" data-id="{{ subgroup.id }}" data-grouptype_id="{{grouptype.id}}"></span>
        <a href="/groups/{{grouptype.id}}/{{subgroup.id}}/">{{subgroup}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-md-6">
  {% if group %}
    <ul class="list-inline">
      <li><h3>Medlemmar i gruppen</h3></li>
      <li>
        <button class="btn btn-success" data-toggle="modal" data-target="#groupMembershipModal">Lägg till ny</button>
      </li>
    </ul>

    <div class="modal fade" id="groupMembershipModal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Lägg till i grupp</h4>
          </div>
          <div class="modal-body container-fluid">
            <form id="addgroupmemberform" method="post">
            {% csrf_token %}
            <ul class="list-inline">
              <li><label for="{{groupmembershipform.member.id_for_label}}">Medlem</label></li>
              <li>{{groupmembershipform.member}}</li>
              {{groupmembershipform.group.as_hidden}}
              <li><button type="submit" class="btn btn-success">Spara</button></li>
            </ul>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
          </div>
        </div>
      </div>
    </div>

    <ul>
      {% for membership in groupmembers %}
      <li>
        <span class="glyphicon glyphicon-remove text-danger removeMembership" role="button" data-id="{{ membership.id }}"></span>
        <a href="/members/{{membership.member.id}}">{{membership.member.full_name}}</a>
      </li>
      {% endfor %}
    </ul>
  {% endif %}
  </div>
</div>
</div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static "js/group/grouptype.js" %}"></script>
  <script src="{% static "js/group/subgroup.js" %}"></script>
  {% if group %}
    <script src="{% static "js/group/groupmember.js" %}"></script>
  {% endif %}
{% endblock %}