{% extends "base.html" %}
{% block main %}
<div class="container-fluid">
<h1 class="page-header">{{form.name.value}}</h1><br>

<ul class="list-inline">
  <li>
  <form class="form-inline" role="form" action="/groups/{{grouptype_id}}/" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{form.name.id_for_label}}">Namn:</label>
      {{form.name}}
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Spara</button>
    </div>
  </form>
  </li>
  <li>
  <form class="form-inline" role="form" action="del" method="post">
    {% csrf_token %}
    <div class="form-group">
      <button type="submit" class="btn btn-danger" onclick="return confirm('Vill du radera denna grupp med alla dess undergrupper?')">Radera</button>
    </div>
  </form>
  </li>
</ul>
</div>

<hr>

<div class="container-fluid">
<div class="row">
  <div class="col-md-6">
    <ul class="list-inline">
      <li><h3>Undergrupper</h3></li>
      <li>
        <button class="btn btn-success" data-toggle="modal" data-target="#addGroup">Lägg till ny</button>
      </li>
    </ul>

    <div class="modal fade" id="addGroup" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Lägg till grupp</h4>
          </div>
          <div class="modal-body container-fluid">
            <form action="/groups/{{grouptype_id}}/add" method="post">
            {% csrf_token %}
            <div class="row form-group">
            <div class="col-md-12">
              <label for="{{addgroupform.name.id_for_label}}">Namn</label>
            	{{ addgroupform.name }}
            </div>
            </div>
            <div class="row form-group">
            <div class="col-md-5">
              <label for="{{addgroupform.begin_date.id_for_label}}">Från</label>
            	{{ addgroupform.begin_date }}
            </div>
            <div class="col-md-5">
              <label for="{{addgroupform.end_date.id_for_label}}">Till</label>
            	{{ addgroupform.end_date }}
            </div>
            <div class="col-md-2">
              <br>
            	<button type="submit" class="btn btn-success">Spara</button>
            </div>
            </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
          </div>
        </div>
      </div>
    </div>
    <ul>
      {% for group in groups %}
      <li><a href="/groups/{{grouptype_id}}/{{group.id}}/">{{group}}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-md-6">
    <h3>Medlemmar i gruppen</h3>
    <ul>
      {% for member in groupmembers %}
      <li><a href="#">{{member.member.full_name}}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
</div>
<script type="text/javascript">
$("#addToGroup").on("show.bs.modal", function(e) {
  $("#addtogroup-modal-content").load("#");
});
</script>
{% endblock %}