<h1 class="page-header">{{member.full_name}}</h1><br>
<p><br>
given_names: {{member.given_names}}<br>
preferred_name: {{member.preferred_name}}<br>
surname: {{member.surname}}<br>
maiden_name: {{member.maiden_name}}<br>
nickname: {{member.nickname}}<br>
birth_date: {{member.birth_date}}<br>
student_id: {{member.student_id}}<br>
gender: {{member.gender}}<br>
graduated: {{member.graduated}}<br>
graduated_year: {{member.graduated_year}}<br>
dead: {{member.dead}}<br>
mobile_phone: {{member.mobile_phone}}<br>
phone: {{member.phone}}<br>
street_address: {{member.street_address}}<br>
postal_code: {{member.postal_code}}<br>
city: {{member.city}}<br>
country: {{member.country}}<br>
url: {{member.url}}<br>
email: {{member.email}}<br>
<br>
subscribed_to_modulen: {{member.subscribed_to_modulen}}<br>
allow_publish_info: {{member.allow_publish_info}}<br>
<br>
username: {{member.username}}<br>
crm_id: {{member.crm_id}}<br>
</p>