<ul class="nav nav-pills">
  <li {% if side.active == "members" %} class="active" {% endif %}><a href="/members/">Medlemmar</a></li>
  <li {% if side.active == "groups" %} class="active" {% endif %}><a href="/groups/">Grupper</a></li>
  <li {% if side.active == "functionaries" %} class="active" {% endif %}><a href="/functionaries/">Poster</a></li>
  <li {% if side.active == "decorations" %} class="active" {% endif %}><a href="/decorations/">Betygelser</a></li>
</ul>
<br>
<ul class="list-inline">
  <li>
    <input id="side-search" type="text" class="form-control" placeholder="Sök...">
  </li>
  <li>
    <button class="btn btn-success" data-toggle="modal" data-target="#newModal">Ny {{ side.sname }}</button>
  </li>
</ul>
<br>
<div id="side-objects" class="list-group">
  {% for obj in side.objects %}
  <a class="side-object list-group-item{% ifequal obj.id side.active_obj %} active {% endifequal %}" href="/{{side.active}}/{{obj.id}}/">{{obj.name|default:"Namnlös"}}</a>
  {% endfor %}
</div>
