<ul class="nav nav-pills">
  <li {% if side.active == "members" %} class="active" {% endif %}><a href="/members/">Medlemmar</a></li>
  <li {% if side.active == "groups" %} class="active" {% endif %}><a href="/groups/">Grupper</a></li>
  <li {% if side.active == "functionaries" %} class="active" {% endif %}><a href="/functionaries/">Poster</a></li>
  <li {% if side.active == "decorations" %} class="active" {% endif %}><a href="/decorations/">Betygelser</a></li>
</ul>
<form class="navbar-form">
  <input type="text" class="form-control" placeholder="Sök...">
</form>
<ul>
  {% for obj in side.objects %}
  <li><a class="side-object" href="/{{side.active}}/{{obj.id}}">{{obj.name}}</a></li>
  {% endfor %}
</ul>
