<div class="container-fluid">
<div class="row">
  <ul class="nav nav-pills">
    <li {% if side.active == "members" %} class="active" {% endif %}><a href="/members/">Medlemmar</a></li>
    <li {% if side.active == "groups" %} class="active" {% endif %}><a href="/groups/">Grupper</a></li>
    <li {% if side.active == "functionaries" %} class="active" {% endif %}><a href="/functionaries/">Poster</a></li>
    <li {% if side.active == "decorations" %} class="active" {% endif %}><a href="/decorations/">Betygelser</a></li>
  </ul>
</div>
<br>
<div class="row">
  <div class="col-md-7">
    <input type="text" class="form-control" placeholder="Sök...">
  </div>
  <div class="col-md-4 col-md-offset-1">
    <a class="btn btn-default" href="/{{side.active}}/new">Ny {% if side.active == 'members' %} medlem {% elif side.active == 'groups' %} grupp {% elif side.active == 'functionaries' %} post {% elif side.active == 'decorations' %} betygelse {% endif %}</a>
  </div>
</div>
</div>
<br>
<ul>
  {% for obj in side.objects %}
  <li><a class="side-object" href="/{{side.active}}/{{obj.id}}/">{{obj.name}}</a></li>
  {% endfor %}
</ul>
</div>